body {
    margin: 0;
    padding: 20px;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
}

.photo-box {
    border: 3px solid #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small { width: 120px; height: 120px; }
.medium { width: 180px; height: 180px; }
.large { width: 240px; height: 240px; }

.next-page-btn {
    display: block;
    margin: 40px auto 60px auto;
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
}

.emoji-circle { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none; z-index: 5; }
.emoji-circle span { position: absolute; font-size: 40px; }
